@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Space Grotesk", sans-serif;
        color: theme(colors.black.800);
    }


    body {
        @apply bg-background;
        overflow-x:hidden;
    }
    
    .stroke-header {
        @apply text-white-900;
        text-shadow:
        -1px -1px 0 theme(colors.black.800),  
        1px -1px 0 theme(colors.black.800), 
        -1px 1px 0 theme(colors.black.800), 
        1px 1px 0 theme(colors.black.800);
        transition: color .3s,text-shadow .3s;
    }

    .stroke-header:hover {
        text-shadow: none;
        @apply text-black-800;
    }

    .stroke-white-header {
        @apply text-black-800;
        text-shadow:
        -1px -1px 0 theme(colors.white.900),  
        1px -1px 0 theme(colors.white.900),  
        -1px 1px 0 theme(colors.white.900), 
        1px 1px 0 theme(colors.white.900);
        transition: color .3s,text-shadow .3s;
    }

    .stroke-white-header:hover {
        text-shadow: none;
        @apply text-white-900;
    }

    /* ======================================================== */
    /* Menu toggle button */
    
    .menu-btn-topline-active {
        transform: translateY(5.5px) rotateZ(45deg);
    }

    .menu-btn-bottomline-active {
        transform: translateY(-5.5px) rotateZ(315deg);
    }
    /* ======================================================== */
}



